[submodule "Boilerplates/react-node-redis-boilerplate"]
	path = Boilerplates/react-node-redis-boilerplate
	url = https://github.com/adriandarian/react-node-redis-boilerplate.git
[submodule "Boilerplates/mern-es8-boilerplate"]
	path = Boilerplates/mern-es8-boilerplate
	url = https://github.com/adriandarian/mern-es8-boilerplate.git
[submodule "Mobile-Frameworks/Flutter/flutter-login-ui"]
	path = Mobile-Frameworks/Flutter/flutter-login-ui
	url = https://github.com/adriandarian/flutter-login-ui.git
[submodule "IoT/Arduino/arduinoVisualizer"]
	path = IoT/Arduino/arduinoVisualizer
	url = https://github.com/adriandarian/arduinoVisualizer.git
[submodule "Web-Applications/scantron"]
	path = Web-Applications/scantron
	url = https://github.com/adriandarian/scantron.git
