[submodule "boilerplates/react-node-redis-boilerplate"]
	path = boilerplates/react-node-redis-boilerplate
	url = https://github.com/adriandarian/react-node-redis-boilerplate.git
[submodule "boilerplates/mern-es8-boilerplate"]
	path = boilerplates/mern-es8-boilerplate
	url = https://github.com/adriandarian/mern-es8-boilerplate.git
